@media (max-width: 576px) {
  .readyContainer{
    width: 90vw;
    padding: 0px 30px 7.5px 30px;
  }
  .fsExtras {
    max-width: 700px;
  }
  .fsSGQ {
    font-size: 24px;
  }
  .fsCovered {
    font-size: 16px;
  }
  .fsExtras {
    font-size: 16px;
  }
  .fsInputContainer{
    max-width: 400px;
  }
}

@media (min-width: 576px) and (max-width: 760px) {
  .readyContainer{
    width: 90vw;
    padding: 0px 30px 7.5px 30px;
  }
  .fsExtras {
    max-width: 700px;
  }
  .fsSGQ {
    font-size: 32px;
  }
  .fsCovered {
    font-size: 18px;
  }
  .fsExtras {
    font-size: 18px;
  }
  .fsInputContainer{
    width: 350px;
  }
}

@media (min-width: 760px) and (max-width: 991px) {
  .readyContainer{
    width: 90vw;
    padding: 0px 50px 7.5px 50px;
  }
  .fsExtras {
    max-width: 700px;
  }
  .fsSGQ {
    font-size: 32px;
  }
  .fsCovered {
    font-size: 18px;
  }
  .fsExtras {
    font-size: 18px;
  }
  .fsInputContainer{
    width: 400px;
  }
}

@media (min-width: 991px) and (max-width: 1100px) {
  .readyContainer{
    width: 90vw;
    padding: 0px 50px;
  }
  .fsExtras {
    width: 700px;
  }
  .fsSGQ {
    font-size: 32px;
  }
  .fsCovered {
    font-size: 18px;
  }
  .fsExtras {
    font-size: 18px;
  }
  .fsInputContainer{
    width: 400px;
  }
}

@media (min-width: 1100px) {
  .readyContainer{
    width: 1000px;
    padding: 0px 50px;
  }
  .fsExtras {
    width: 700px;
  }
  .fsSGQ {
    font-size: 32px;
  }
  .fsCovered {
    font-size: 18px;
  }
  .fsExtras {
    font-size: 18px;
  }
  .fsInputContainer{
    width: 400px;
  }
  .readyContainer:after {
    position: absolute;
    z-index: -100;
    opacity: 0.5;
    width: 100%;
    transform-origin: 50% 50%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transform: rotate(-4deg) scale(1.01);
  }
}


.fsContainer {
  position: relative;
  width: 100%;
  min-height: 370px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

.fsContainer:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-4deg);
}

.readyContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
  margin: 15px 0px 30px 0px;
  text-align: center;
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 100%);
  border-radius: 20px;
  min-height: 275px;
  box-sizing: border-box;
  box-shadow: 0 12px 38px rgba(0,0,0,0.1), 0 8px 12px rgba(0,0,0,0.15);
}



.fsSGQ {
  font-family: "Lato", sans-serif;
  color: white;
}

.fsCovered {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin-top: -16px;
}

.fsExtras {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin: 20px 0px;
}

.fsInputContainer{
  height: 37.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 4px 6px 4px 15px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 12px 38px rgba(0,0,0,0.1), 0 8px 12px rgba(0,0,0,0.15);
}

.emailDropInput {
  max-width: 280px;
  height: 30px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  outline: none;
  border: none;
}

::placeholder {
  color: #c9c9c9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #c9c9c9;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #c9c9c9;
}

.fsInputSubmit {
  width: 100px;
  height: 35px;
  border-radius: 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 2.5px solid #0085ff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #0085ff;
  color: white;
  padding-bottom: 2.5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.fsInputSubmit:hover {
  background-color: white;
  color: #0085ff;
  box-shadow: 0 0px 38px rgba(0,0,0,0.1), 0 0px 12px rgba(0,0,0,0.15);
  transition: all 0.2s ease-in;
}
