
html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #fafafc;
}

.stellarHomeNavBar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 75px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 133, 255, 0.3);
  -moz-box-shadow:    0px 0px 15px 0px rgba(0, 133, 255, 0.3);
  box-shadow:         0px 0px 15px 0px rgba(0, 133, 255, 0.3);
}

.navbarInContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1375px;
  margin: 0px 30px;
}

.stellarHomeLogoContainer{
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.stellarHomeLogo{
  width: 40px;
  margin-right: 5px;
}

.startAProNavBtn{
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #0085ff;
  border: 2.5px solid #0085ff;
  color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0.5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 0.5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 0.5px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in-out;
}

.startAProNavBtn:hover {
  background-color: white;
  color: #0085ff;
  transition: all 0.25s ease-in;
}

.navRightInInContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.freeQuoteNavBtn{
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 2.5px solid #0085ff;
  color: #0085ff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0.5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 0.5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 0.5px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in;
}

.freeQuoteNavBtn:hover {
  background-color: #0085ff;
  color: white;
  transition: all 0.25s ease-in;
}

.freeQuoteNavBtn:hover > .fa-arrow-alt-circle-right{
  transform: translateX(5px);
  transition: all 0.25s ease-in;
}

.navIconFix{
  margin: 1px 0px 0px 5.5px;
  transition: all 0.25s ease-in;
}

.linksContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 275px;
}

.navbarLinks{
  color: #242424;
  font-family: "Lato", sans-serif;
  font-size: 15.25px;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}

.navbarLinks:hover {
  color: #0085ff;
  transition: all 0.25s ease-in-out;
}
