@media (min-width: 991px) and (max-width: 1200px) {
  .s2MainContainer{
    width: 90vw;
    padding: 20px 30px;
  }
  .s2IllContainer{
    width: 325px;
    height: 325px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .s2MainContainer{
    width: 90vw;
    padding: 20px 50px;
  }
  .s2IllContainer{
    width: 430px;
    height: 400px;
  }
}

@media (min-width: 1500px) {
  .s2MainContainer{
    width: 1350px;
    padding: 20px 50px;
  }
  .s2IllContainer{
    width: 430px;
    height: 400px;
  }
}

.s2Background{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 120px 0px;
}

.s2MainContainer{
  min-height: 640px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 55px 60px 0px #e6e6e6;
  -moz-box-shadow:    0px 55px 60px 0px #e6e6e6;
  box-shadow:         0px 55px 60px 0px #e6e6e6;
}

.redefineHeader{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 0.25px;
  word-spacing: 5px;
}

.s2graphicrect {
  padding: 0px 7.5px 5px 8.5px;
  color: white;
  text-decoration: underline;
  background-color: #5685ff;
}

.s2InBottomContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redefineListContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-width: 60%;
  min-height: 400px;
}

.redefineListpts{
  display: flex;
  align-items: center;
  padding: 0;
}

.redefineListno{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 56px;
  margin: 0px 25px 0px 0px;
  color: #0085ff;
}

.redefineListPoint {
  font-family: "Source Sans Pro", sans-serif;
  margin: 2px 0px 0px 0px;
  font-size: 18px;
}

.s2IllContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: -10px;
  box-sizing: border-box;
  margin-left: 20px;
  padding: 0px 20px;
  -webkit-box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 10px 70px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 10px 70px 0px rgba(0, 0, 0, 0.1);
}

.s2Btn{
  margin: 30px auto 10px auto;
}

.strProLinkS2 {
  color: #0085ff;
  margin-top: 0.2px;
  text-decoration: none;
}

.s2IconFix {
  font-size: 14px;
  color: #66a0ff;
}
